<!DOCTYPE html>
<html>
<head>
  <title>Instagram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<section class='header'>

  <ul>

    <div class='logo'>
      <li>Instagram</a></li>
    </div>

    <div class='user-mgmt'>

      <% if user_signed_in? %>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign in", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
      <% end %>
    </div>

    <div class='username'>
      <% if current_user %>
        <%= current_user.username %>
      <% end %>
    </div>

  </ul>

</section>

<% if flash[:notice] %>
<section class='banner'>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</section>
<% end %>

<%= yield %>

</body>
</html>
